body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fc-direction-ltr {
  padding: 15px;
  direction: ltr;
  text-align: left;
  width: 100% !important;
}
.fc .fc-toolbar-title {
  font-size: 1.75em;
  margin: 0px;
  color: black;
}

.bottom-container {
  flex: 1;
  display: flex;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  width: 70px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  color: white;
  border: 1px solid white;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: -1px;
  width: 70px;
  color: white;
  border: 1px solid white;
}
.overflow243{
  /* width: 152% !important; */
  background-color: white;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: -85%;
  display: flex;

}
.fc .fc-scrollgrid-section table{
  width: 100% !important;
  
}

.meet{
  width: 500px;
  color: #007bff !important;
  font-size: 20px;
  text-align: center;
  margin-left: 4%;
  margin-top: 3%;
}
.p.text-gray-500 font-bold mt-10{
  color: #007bff !important;
  background-color: #717070 !important;


}


/* Add this to your stylesheet or style section */

/* Styling the container */
.items-center {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

/* Styling the checkbox */
.form-checkbox {
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-left: 20px;
}

/* Styling the checked state of the checkbox */
.form-checkbox:checked {
  background-color: #4299e1; /* Change this color to your preferred color for checked checkboxes */
  border-color: #4299e1; /* Match the background color for checked checkboxes */
}

/* Styling the label next to the checkbox */
.text-gray-700 {
  color: #4a5568; /* Adjust the color to your preferred text color */
  font-size: 14px; /* Adjust the font size to your preferred size */
}
.text-gray-500{
  color: #4a5568;
  font-weight: 500px;
  font-size: 26px;
  margin-top: -16%;
  text-align: center !important;
  align-items: center !important;
  margin-left: 100px;
}

.ml-2 text-gray-700 capitalize{
  color: black !important;
  font-size: 50px;
}

.fc-header-toolbar {
  margin-bottom: 20px;
}

.fc-header-toolbar .fc-left,
.fc-header-toolbar .fc-center,
.fc-header-toolbar .fc-right {
  display: flex;
  justify-content: space-between;
}

.fc .fc-toolbar-main .fc-button {
  margin-right: 5px;
}



.fc-event-time{
  display: none;
}
.fc-time{
  display: none;
}
.fc-title{
  display: none;
}
.holiday-event {
  background-color: yellow; /* Green color for present events */
  color:black; /* Text color for present events */
}

.present-event {
  background-color: green; /* Green color for present events */
  color: white; /* Text color for present events */
}

.absent-event {
  background-color: red; /* Red color for absent events */
  color: white; /* Text color for absent events */
}
.bottom-container__left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-flex {
  display: inline-block;
 
  justify-content: space-between;
  width: 100%;
}

.cbox.spending-box {
  /* width: 80%; */
  background-color: white;
  border: 1px;
  border-radius: 3px;
  padding: 8px;
  /* margin-bottom: 7%; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-input{
 
  font-size: 1rem;
  font-weight: normal;
}
.section-head34{
  color: black;
}


.detail-box {
  /* width: 80%; */
  background-color: white; 
  border-radius: 3px;
  padding: 8px;
  margin-top: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.box-transaction-box {
  width: 165%;
  margin-left: -67%;
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: white;
  padding: 12px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-header ,.span123{
  font-size: 1.4rem;
  font-weight: bold;
}
.tbody56{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.psv {
  background-color: #007bff; 
  color: #fff;
  padding: 8px;
 
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
  /* height: 30px; */
  width: 70px;
}

.psv:hover {
  background-color: #4093eb;
  color: whitesmoke;
}

.table-line56 {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #7d7b7b;
 
  text-align: center;
}

th {
  background-color: white;
}

.calendar-cell {
  height: 40px;
  position: relative;
}

.q {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.public-holiday {
  background-color: #4dd0c1; 
  color: #fff;
}

.weekend {
  color: black;
  background-color: lightgoldenrodyellow; 
}

.today {
  border: 2px solid rgb(7, 7, 7); 
  border-radius: 20%;
}

.q.present {
  color: black;
  background-color: #03f8db;
}

.q.Unpaid {
  color:black;
  background-color: orange;
}

.holiday {
  background-color: rgb(206, 253, 248); 
  color: black;
}

.calendar-cell {
  position: relative;
}

.calendar-cell-content {
  padding: 8px;
}

.work-from-home {
  background-color: #f7ba5e; 
  cursor: pointer;

}

.paid-leave {
  background-color: #7ec0f6; 
  cursor: pointer;

}

.present {
  background-color: #74d3e2;
  cursor: pointer;
}

.leave {
  background-color: #f2aa99;
  cursor: pointer;
}

/* Popup Styles */
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 47, 47, 0.5);
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* Button Styles */
.popup-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.popup-content button.Cancel {
  background-color: #717070;
  color: white;
}

.popup-content button.Present {
  background-color: #74d3e2;
  color: #fff;
}

.popup-content button.Leave {
  background-color: #f2aa99;
  color: #fff;
}

.popup-content button.PaidLeave {
  background-color: #7ec0f6;
  color: #fff;
}

.popup-content button.WorkFromHome {
  background-color: #f7ba5e;
  color: #fff;
}
@media only screen and (max-width: 426px) {
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .bottom-container {
    flex: 1;
    display: flex;
  }
  .table-line56 {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;
  }
  .bottom-container__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 20px; */
  }
  .tdclass{
    border: 1px solid #7d7b7b;
    height: 28px;
    width: 100px;
    font-size: 11px;
    text-align: center;
  }
 
  .detail-flex {
    display: inline-block;
   
    justify-content: space-between;
    width: 100%;
  }
  
  .cbox.spending-box {
    /* width: 80%; */
    background-color: white;
    border: 1px;
    border-radius: 3px;
    padding: 8px;
    /* margin-bottom: 7%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .section-input{
   
    font-size: small;
    font-weight: normal;
  }
  .section-head34{
    color: black;
    font-size: smaller;
  }
  .overflow243{
    /* overflow: auto; */
    width: 100%;
  }
  
  .detail-box {
    /* width: 80%; */
    background-color: white; 
    border-radius: 3px;
    padding: 8px;
    margin-top: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  .psv {
    background-color: #007bff;
    color: #fff;
    padding: 4px 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 2px;
    height: 27px;
    width: 60px;
    font-size: x-small;
}
  .thchange23{
    font-size: 11px;
  }
  .tbody56{
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
  }
  .calendar-cell-content {
    padding: 4px;
    font-size: x-small;
}
  .span123{
    font-size: small;
  }
  .box-transaction-box {
    width: 100%;
    margin-left: 0%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: white;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
  }
}

/* Styles for screens between 427px and 769px (medium screens) */
@media only screen and (min-width: 427px) and (max-width: 769px) {
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .bottom-container {
    flex: 1;
    display: flex;
  }
  .table-line56 {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;
  }
  .bottom-container__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 20px; */
  }
  .tdclass{
    border: 1px solid #7d7b7b;
    height: 35px;
    width: 100px;
    font-size: 13px;
    text-align: center;
  }
 
  .detail-flex {
    display: inline-block;
   
    justify-content: space-between;
    width: 100%;
  }
  
  .cbox.spending-box {
    /* width: 80%; */
    background-color: white;
    border: 1px;
    border-radius: 3px;
    padding: 8px;
    /* margin-bottom: 7%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .section-input{
   
    font-size: 16px;
    font-weight: normal;
  }
  .section-head34{
    color: black;
    font-size: 16px;
  }
  .overflow243{
    /* overflow: auto; */
  }
  
  .detail-box {
    /* width: 80%; */
    background-color: white; 
    border-radius: 3px;
    padding: 8px;
    margin-top: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  .psv {
    background-color: #007bff;
    color: #fff;
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 3px;
    
    width: 80px;
    font-size: small;
}
  .thchange23{
    font-size: 17px;
  }
  .tbody56{
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
  }
  .calendar-cell-content {
    padding: 4px;
    /* font-size: x-small; */
}
  .span123{
    font-size: 19px;
  }
  .box-transaction-box {
    width: 193%;
    margin-left: -97%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
  }
}