/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  .openmenu65{

  }
 /* Dashboard.css */

/* Dashboard.css */

.mainroute886 {
  padding-left: 15px;
  font-size: 14px;
  background: #80808061;
  position: relative;
  overflow: hidden;
  transition: background 0.5s ease-in-out;
}

.mainroute886:hover {
  background: linear-gradient(90deg, #80808061, #bcb9b9, #80808061);
}


.mainroute886::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #80808061, transparent);
  transition: left 0.5s ease-in-out; /* Adjust the duration for a slower effect */
  pointer-events: none;
}

.mainroute886:hover::before {
  left: 100%;
}


  .tooltip908{

  }
  .subname121{

  }
  .main-container23 {
    display: flex;
    min-height: 100vh;
  }
  /* main {
    padding: 10px;
  } */
  .search_icon23{

  }
  .span554{
    text-align: center;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-radius: 18px;
    background-color: #ff0000;
    border: 2px solid white;
  }
  .title {
    font-size: 3rem;
    display: grid;
    place-items: center;
  }
  .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .file-upload {
    position: relative;
  }
  
  .upload-input {
    display: none; 
  }
  
  .custom-button {
    background-color: #007bff; /* Set button background color */
    color: #fff; /* Set button text color */
    padding: 10px 15px; /* Add padding to the button */
    cursor: pointer; /* Set cursor to pointer */
    border-radius: 5px; /* Add border-radius for rounded corners */
    display: inline-block; /* Make it inline-block to match the input size */
  }
  
  /* Style the file input label when a file is selected */
  .upload-input:focus + .custom-button {
    outline: 1px dotted #007bff;
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  .upload-input{

  }
  .info-img{

  }
 .img-fit-cover{
  height: 95px;
  border: 1px solid white;
  border-radius: 60px;
  width: 95px;
 }
  .sidebar23 {
    background: rgb(0, 7, 61);
    color: white;
    /* height: 100vh; */
    overflow-y: auto;
  }
  .sidebar23::-webkit-scrollbar{
    width: 0px;
  }
  .top_section23 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
  }
  .logo23 {
    font-size: 18px;
    line-height: 0;
  }
  .bars23 {
    width: 30px;
    cursor: pointer;
  }
  .hide {
    display: none;
    cursor: pointer;
  }
  
  .search23 {
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 30px;
    padding: 10px;
  }
  .search23 input {
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background: rgb(238, 238, 238);
  
    color: white;
  }
  .link2323 {
    margin-top: -30px;
    display: flex;
    color: white;
    gap: 10px;
    text-decoration: none;
    padding: 20px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
  .routes23 {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .link23 {
    display: flex;
    color: white;
    gap: 10px;
    text-decoration: none;
    padding: 12px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .link23:hover {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .active23 {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
  }
  .link_text23 {
    white-space: nowrap;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }
  .icon23{
    font-size: 1.2rem;
  }
  .menu23 {
    display: flex;
    color: white;
  
    padding: 12px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    justify-content: space-between;
  }
  .menu_item23 {
    display: flex;
    gap: 10px;
  }
  .menu_container23 {
    display: flex;
    flex-direction: column;
  }
  .menu_container23 .link23 {
    padding-left: 20px;
    background: #8080806e;
    border-bottom: #fff 0.5px solid;
  }
  